<h3 class="text-center pb-5">Listado</h3>
<ul class="w-full text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white">
  <li *ngFor="
    let character of characterList;
    let i = index;
    let isFirst = first;
    let isLast = last;
    let isEven = even;
    let isOdd = odd;
  "
    class="w-full px-4 py-2 border-b border-gray-200 dark:border-gray-600"
    [ngClass]="{
      'bg-green-400': isEven,
      'bg-green-200' : isOdd
    }">

    <span class="text-blue-900"> {{ i }}. </span>

    <span class="text-orange-500 font-bold"> {{ character.name }} </span>

    <strong>| Power:  </strong> <span> {{ character.power }} </span> <br>

    <span> Es par: {{ isEven ? 'Si' : 'No'  }} </span><br>
    <span> Es impar: {{ isOdd ? 'Si' : 'No'}} </span><br>
    <span> Es primero: {{ isFirst ? 'Si' : 'No' }} </span><br>
    <span> Es ultimo: {{ isLast ? 'Si' : 'No' }} </span><br>

  </li>
</ul>
